.meet-li {

    h4{
        margin-left: 45px;
    }

    p {
        margin-left: 35px;
    }

    img {
        margin-left: 55px;
    }

}

.meet-li2 {
    
    h4 {
        margin-left: 70px;
    }

}

.meet-li {
  width: 30%;
  background-color: rgb(144, 137, 137);
  margin-right: 50px;
  margin-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 60px;
  padding-left: 20px;
  width: 400px;
}

.meet-ol {
    width: 30%;
    display: flex;
}