.real-li {

  p {
    width: 350px;
    text-align: center;
  }

  img {
    width: 62px;
    height: 62px;
    margin-left: 120px;
  }

  h4 {
    margin-left: 100px;
    color:  #79C8C7;
    ;
  }

  h6 {
    margin-left: 90px;
  }

}


.real-ol {
    display: flex;
}

.real-li {
    margin-right: 40px;
}

.real-all2 {

    h2 {
        margin-left: 350px;
    }
}

.real {
   background-color: #004047;
   color: aliceblue
}

.div-h2 {

  h2 {
    margin-bottom: 40px;
    text-align: center;
    margin-left: -700px;
  }
}